<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="APP_NAME" source="spring.application.name" />
    <property name="DEFAULT_LOG_PATH" value="${user.dir}/../logs" />
    <property name="LOG_PATH" value="${APP_LOG_PATH:-${DEFAULT_LOG_PATH}}" />
    <property name="DIR_PATH" value="${LOG_PATH}/${APP_NAME}"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="[%d{HH:mm:ss.SSSXXX}] [%level] [%thread] [%logger{36}] - %msg%n"/>

    <!-- 콘솔 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 파일 출력 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DIR_PATH}/default.log</file>
        <!-- 로그 롤링 정책 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 로그 파일 이름 패턴 -->
            <fileNamePattern>${DIR_PATH}/%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 로그 보관 기간 (일) -->
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
